<footer class="  footer-prop fixed-bottom">
    
    <div class="pt-5 d-flex justify-content-center">
        <img class="footer-icons me-5 " src="/assets/brandico_twitter-bird.png " alt="twitter-icon" height="29" width="36">

        <img class="footer-icons me-5" src="/assets/et_rss.png" alt="RSS-icon" height="29" width="36">
        <img class="footer-icons me-5" src="/assets/ant-design_youtube-outlined.png" alt="youtube-icon" height="29" width="36">
        <img class="footer-icons me-5" src="/assets/cib_instagram.png" alt="instagram-icon" height="30" width="36">
        <img class="footer-icons me-5" src="/assets/cib_facebook.png" alt="facebook-icon" height="29" width="36">


    </div>

    <div class="pt-5 d-flex justify-content-center ft">
        <h5 class="me-5">About</h5>
        <h5 class="me-5">Need Help?</h5>
        <h5 class="me-5">Contact Us</h5>
        <h5 class="me-5">Careers</h5>
        <h5 class="me-5">Terms of Use</h5>
        
    </div>
    
    <div class="pt-5 d-flex justify-content-center ft">
        <img class="footer-icons " src="/assets/Vector.png" alt="copyright-icon" height="29" width="36">
        <h5 class="me-2">2020</h5>
        <h5 class="me-5">Rieder</h5>
        
        
    </div>
    
        
    


</footer>