
<div class="card text-center card-design" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">avatar</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, possimus!.</p>
      <!-- might use a button later -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
<div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">avatar</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, possimus!.</p>
      <!-- might use a button later -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
<div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">avatar</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, possimus!.</p>
      <!-- might use a button later -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>