

<!-- <div class="container mt-5">

    <img class="account-profile-pic" src="/assets/accounts/bi_person-circle.png" alt="profile-icon" >
    <img class="wallet-icon" src="/assets/accounts/entypo_wallet.png" alt="wallet-con" >
    <img class="bikes-rented" src="/assets/accounts/ic_sharp-directions-bike.png" alt="rented-bike-icon" >
    <img class="bikes-owned " src="/assets/accounts/ic_sharp-pedal-bike.png" alt="owned-bike-icon" >
  

</div> -->



<div class="flex-container">
<!-- left side menu  -->
<div class="side-bar-menu">
    <ul>
        <!-- porfile settings -->
        <li>
            <fa-icon [icon]="faUser"></fa-icon>
            <a href="#"> Profile settings</a>
        </li>
        <!-- bikes owned and rented  -->
        <li class="mt-5">
            <a  href="#"> bike details</a>
        </li>
        <!-- account balance -->
        <li class="mt-5">
            <a  href="#"> Messages (0)</a>
        </li>
        <!-- message board -->
    </ul>

</div>


<!-- main content  -->
<div class="container ">

    <!-- details of the links -->

</div>

</div>
