<div class="container">
    <!-- replace with ngif, and bikes hould be fetched from the server -->

    <div class="container pt-5">

        <div class="row gx-5">
            <div class="col">
                <img class="" src="/assets/bikes/anastasiia-tarasova-wlQDgb79UAk-unsplash 1.png" alt="" width="350"
                    height="250">

                <h3 class="price"> $200 </h3>
                <button  class="addtocart"> Add to Cart</button>


            </div>
            <div class="col">
                <img class="" src="/assets/bikes/chris-kendall-JmRxKcfoBGw-unsplash 1.png" alt="" width="350"
                    height="250">
                    <h3 class="price"> $200 </h3>
                    <button class="addtocart"> Add to Cart</button>

            </div>
            <div class="col">
                <img class="" src="/assets/bikes/jeremias-radny-3_fwhwS99X8-unsplash 1.png" alt="" width="350"
                    height="250">
                    <h3 class="price" > $200 </h3>
                    <button class="addtocart"> Add to Cart</button>

            </div>
        </div>

        <div class="row gx-5">
            <div class="col pt-5">
                <img class="" src="/assets/bikes/obi-onyeador-spM46OXd9W0-unsplash 1.png" alt="" width="350"
                    height="250">
                    <h3 class="price"> $200 </h3>
                    <button class="addtocart"> Add to Cart</button>

            </div>
            <div class="col pt-5">
                <img class="" src="/assets/bikes/phil-goodwin-K4efFcvtQ1g-unsplash 1.png" alt="" width="350"
                    height="250">
                    <h3 class="price"> $200 </h3>
                    <button class="addtocart"> Add to Cart</button>

            </div>
            <div class="col pt-5">
                <img class="" src="/assets/bikes/waldemar-brandt-d7wWUTGWAtY-unsplash 1.png" alt="" width="350"
                    height="250">
                    <h3 class="price"> $200 </h3>
                    <button class="addtocart">  Add to Cart</button>

            </div>



        </div>



        <div class="row gx-5">
            <div class="col pt-5">
                <img class="" src="/assets/bikes/yuanbin-du-rtjsWoes2xg-unsplash 1.png" alt="" width="350" height="250">
                <h3 class="price"> $200 </h3>
                <button class="addtocart"> Add to Cart</button>

            </div>

        </div>









    </div>




</div>