/* Rieder */


.logo{
    position: absolute;
width: 155px;
height: 46px;
left: 46px;
/* top: 19px; */

font-family: 'Mr Dafoe', cursive;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 50px;

color: #ADB9FF;

}


/* bicycles */
.fig-it{
    /* position: absolute;
left: -9.69%;
right: 82.56%;
top: 11.11%;
bottom: 0%; */

font-family: Montserrat;
/* font-style: normal;
font-weight: normal;

line-height: 34px; */
font-size: 18px;

color: #ADB9FF !important;

}




/* 
/* account */


/* position: absolute;
left: 35.85%;
right: 36.24%;
top: 0%;
bottom: 0%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;

color: #ADB9FF; */



/* Login */

/* 
position: absolute;
left: 82.17%;
right: 0%;
top: 11.11%;
bottom: 0%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;

color: #ADB9FF; */ 



/* shopping_cart-24px 1 */


/* position: absolute;
width: 47px;
height: 31px;
left: 1380px;
top: 27px; */
